# Dependencies
node_modules/

# Build output
dist/

# Apify
storage/
apify_storage/
.venv/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Env
.env
.env.local

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp

# Coverage
coverage/

tags

# Added by Apify CLI
storage
node_modules
.venv
